<div class="dynamic">
	<div class="choose">
		<h1 class="title">Choisis tes personnages</h1>
		<h2>Sélectionne tes personnages à placer sur la scène :</h2>
		<div class="gallery-wrapper">
			
			<div class="gallery" id="gallery">
			
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/1.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/2.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/3.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/4.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/5.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/6.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/7.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/8.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/9.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/10.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/11.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/12.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/13.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/14.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/15.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/16.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/17.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/18.png" alt="">
					</div>
				</div>
				
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/19.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/20.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/21.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/22.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/23.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/24.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/25.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/26.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/27.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/28.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/29.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/30.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/31.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/32.png" alt="">
					</div>
				</div>
				<div class="gallery-item">
					<div class="item">
						<div class="statut"><span class="item-statut"></span></div>
						<img src="public/img/personnages/33.png" alt="">
					</div>
				</div>
			</div>
		</div>
		
		<div class="choose-next">
			<button id="stepChoose" data-obs="choose">Suivant</button>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		var medias 	= JSON.parse(localStorage.getItem('medias'));
		var gallery = $('#gallery');
		var $btn = $('#stepChoose');
		var finalArrayPicture = [];
		
		if(medias != null) {
			for(var i = 0 ; i < medias.length ; i++) {
				var image		= new Image();
				var divContent 	= $(document.createElement('div'));
				var divItem 	= $(document.createElement('div'));
				var divStatut 	= $(document.createElement('div'));
				var span 		= $(document.createElement('span'));
				
				image.height = 75;
				image.width = 75;
				image.src = medias[i];
				image.id = 'img-tmp-' + i;
				
				divContent.addClass('gallery-item');
				divStatut.addClass('statut');
				span.addClass('item-statut');
				
				divItem.addClass('item').prepend(divStatut.append(span)).append(image);
				
				divContent.append(divItem);
				
				gallery.prepend(divContent);
			}
		}
		
		var $items = gallery.find('div.item');
		
		$items.on('click', function () {
			var $this = $(this);
			
			if($this.hasClass('is-choose')) {
				$this.removeClass('is-choose');
			} else {
				$this.addClass('is-choose');
			}
		});
		
		$btn.on('click', function () {
			var $items = gallery.find('div.is-choose');
			
			$items.each(function () {
				var $this 	= $(this);
				var $img 	= $this.find('img');
				var $src 	= $img.attr('src');
			
				finalArrayPicture.push($src);
			});
			
			localStorage.setItem('gallery', JSON.stringify(finalArrayPicture));
		});
	});
</script>