<div class="dynamic">
	<div class="final">
		<div class="gauche">
			<p>Ton image est maintenant disponible ! <br>
			Appel un membre de l'équipe !
			<img src="./public/img/psykokwak.png" alt="">
			</p>
		</div>
		<div class="droite">
			<div class="peinture">
				<img class="oeuvre" id="oeuvre" src="./public/img/peinture-finie.jpg" class="" alt="">
				<img class="chevalet" src="./public/img/chevalet.png" class="" alt="">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	// <![CDATA[
	$(document).ready(function () {
		var picture = document.getElementById('canvas_export');
		var dataURL = picture.toDataURL("image/png", 1.0);
		
		var oeuvre = $('#oeuvre');
		oeuvre.attr('src', dataURL);
		
		var popin = $('#popin');
		
		successDataPopin(popin);
		
		setTimeout(function () {
			loadPopin();
		}, 600);
	});
	// ]]>
</script>