<div class="dynamic">
	<form action="" method="" class="formulaire" id="obs-form" data-obs="form">
		<h1 class="identite">Identité</h1>
		<div class="line" id="input[pseudo]">
			<input type="text" placeholder="Pseudo" id="pseudo" name="name" class="iptText" autocomplete="off">
			<div class="validation">
				<div class="validation-wrapper">
					<span></span>
				</div>
			</div>
		</div>

		<div class="line" id="input[classe]">
			<input type="text" placeholder="Classe" id="classe" name="class" class="iptText" autocomplete="off">
			<div class="validation">
				<div class="validation-wrapper">
					<span></span>
				</div>
			</div>
		</div>
		
		<input type="hidden">
		
		<input type="submit" value="Valider">
	</form>
</div>