<div class="dynamic">
	<div class="rendering">
		<div class="main">
			<h1>Finis Ton Oeuvre</h1>
			<div class="dropzone" id="dropzone"></div>
			<div class="tableau"></div>
		</div>
		
		<div class="thumb-img apinkslider" id="thumb-picture"></div>
		
		<div class="dropzone-btn-helper">
			<button id="dropzone-export">J'exporte mon image</button>
			<button id="dropzone-clearboard">Vide la zone de travail</button>
		</div>
		<button id="stepRendering" data-obs="final" class="stepRendering" style="display:none;">Suivant</button>
	</div>
</div>
<script type="text/javascript">
	// <![CDATA[
	$(document).ready(function () {
		var CONST_THUMB = 'thumbnail';
		
		var gallery = JSON.parse(localStorage.getItem('gallery'));
		var wrapper = $('#thumb-picture');
		
		if(gallery != null) {
			for(var i = 0; i < gallery.length; i++) {
				var img = new Image();
				
				img.id 	= CONST_THUMB;
				img.src = gallery[i]; 
				img.className = CONST_THUMB;
				
				wrapper.append(img);
			}
		}
		
		new APinkmage();
		new APinkSlider(6);
	});
	// ]]>
</script>