<div class="dynamic">
	<div class="sexe">
		<h1>Identité</h1>
		<form class="sexe-choice" action="#" method="post" id="obs-sexe" data-obs="sexe">
			<div class="input-field boy">
				<input type="text" class="iptSexe iptBoy" name="input[boy]" readonly id="boy">
				<div class="item item-chapeau hidden" data-item="1"></div>
				<div class="item item-ceinture hidden" data-item="2"></div>
				<span>Un garçon</span>
			</div>

			<div class="input-field girl">
				<input type="text" class="iptSexe iptGirl" name="input[girl]" readonly id="girl">
				<div class="item item-chapeau hidden" data-item="1"></div>
				<div class="item item-ceinture hidden" data-item="2"></div>
				<span>Une fille</span>
			</div>

			<div class="input-field">
				<input type="submit" value="Valider" class="btn btn-submit">
			</div>
		</form>
	</div>
</div>