<div class="dynamic">
	<div class="teinte">
		<h1>Salut page : teinte</h1>
		<img src="../assets/img/choa.jpg" width="400" height="auto" alt="">
		<button id="stepTeinte" data-obs="teinte">Etape suivante</button>
	</div>
</div>