/******************************************************/
/*******************    FONTS     *********************/
/******************************************************/
@font-face {
	font-family: 'BDRenaissance';
	src: url('../fonts/BDRENAIS.eot');
	src: local('☺'), url('../fonts/BDRENAIS.woff') format('woff'), url('../fonts/BDRENAIS.ttf') format('truetype'), url('../fonts/BDRENAIS.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'renaissance';
	src: url('../fonts/renaissance.eot');
	src: local('☺'), url('../fonts/renaissance.woff') format('woff'), url('../fonts/renaissance.ttf') format('truetype'), url('../fonts/renaissance.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/******************************************************/
/******************    GENERAL     ********************/
/******************************************************/
body {
	overflow: hidden;
	margin:0px;
	max-width: 100%;
	font-family: 'EB Garamond', Arial, Sans-serif;
}

h1 {
	margin: 0;
	padding: 0;
}

h1.logo {
	text-align: center;
    font-size: 57px;
    margin: 37px 0;
    font-family: 'BDRenaissance', Arial, Sans-serif;
    color: #0B2E4E;
    line-height: 62px;
}

h2 {
	text-align: left;
	/*background: grey;*/
}

a {
	text-decoration: none;
	color: black;
}

.clear {
	clear: both;
}

input {
	outline: none;
}

button {
	cursor: pointer;
}

::-webkit-scrollbar
{
    width: 15px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
    cursor: pointer;
}

::-webkit-scrollbar-track
{
    background: rgba(105,85,13, 0.3);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.wrapper {
	display: block;
	
	width: 630px;
	height: 630px;
	
	position: absolute;
	top: 50%; left: 50%;
	
	z-index: 1;
	
	transform: translateX(-50%) translateY(-50%);
	
	background: rgba(255, 245, 224, 0.47);
	
	vertical-align:middle;
	border-radius: 50%;
	
	box-sizing: border-box;

	transition: all 0.6s;
	opacity: 1;
	
	a {
		position: relative;
		
		display: block;
		width: 100%; height: 100%;
		
		border-radius: 50%;
	 	h1 {
			display: block;
			width: 100%;
			
			font-family: 'BDRenaissance', Arial, Sans-serif;
			font-size: 850%;
			font-weight: 100;
			line-height: 100%;
			
			position: absolute;
			top: 50%; left: 50%;
			
			transform: translateX(-50%) translateY(-50%);
			
			text-align: center;
			margin: 0;
		}
	}
	
	&.is-resize {
		width: 0%;
		height: 0%;
		opacity: 0;
	}
	
	&.is-expand {
		width: 630px;
		height: 630px;
		opacity: 1;
	}
	
	&.apink-boy {
		width: 100%;
		height: 100%;
		border-radius: 0%;
		background: rgba(232, 163, 68, 0.2);
		
		transition: all 0.6s;
		
		&.is-resize {
			width: 0%;
			height: 0%;
			opacity: 0;
		}
		
		&.is-expand {
			width: 100%;
			height: 100%;
			opacity: 1;
		}
	}
}

.dynamic {
	opacity: 0;
}

// Logo
.colorpicker {
	position: absolute;
	right: 10%; top: 10%;
	
	display: none;
	
	width: 180px;
	height: 180px;
	
	border-radius: 50%;
	background: rgba(255, 245, 224, 0.47);
	
	h1 {
		position: absolute;
		top: 50%;
		
		transform: translateY(-50%);
		display: block;
		width: 100%;

		font-family: 'BDRenaissance', Arial, Sans-serif;
		font-size: 250%;
		font-weight: 100;
		line-height: 100%;

		text-align: center;
		margin: 0;
	}
	
	&.is-active {
		display: block;
	}
}

/******************************************************/
/*******************    MAIN     **********************/
/******************************************************/
.cadre_logo {
	float: right;
	background: rgba(255, 245, 224, 0.47);
	width: 250px;
	height: 250px;
	margin: 0px auto;
	padding: 20px;
	border-radius: 50%;
	box-sizing: border-box;
}

.site-content {
	width: 1200px;
	overflow: hidden;
}

.appli {
	position: relative;
	
	background: url('../img/fond.jpg') no-repeat;
	background-size: cover;
	
	width: 100%;
	height: 100vh;
	
	display: block;
	margin: auto;
	
	box-sizing: border-box;
	
	transition: all 0.6s;
	opacity: 1;
	 
	overflow: hidden;
	&.apink-boy {
//		background-image: url('../img/fond_autresPages.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 1;
	}
}

/******************************************************/
/**************    Popin & Overlay    *****************/
/******************************************************/
.bgColor {
	position: relative;
	
	width: 100%;
	height: 100%;
	
	padding: 0; 
	margin: 0;
	
	opacity: 0;
	
	background-color: rgba(0, 0 ,0 , 0.5);	
	
	transition: all 0.6s;
	
	&.is-active {
		opacity: 1;
		z-index: 3;
	}
	
	&.loader {
		background-image: url('../img/loader.gif');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 128px 128px;
	}
}

.popin {
	position: absolute;
	top: -500%; left: 50%;
	
	padding: 30px 50px;
	background: url('../img/fond.jpg') no-repeat;
	z-index: 11;
	
	transform: translate(-50%, -50%);
	text-align: center;
	
	border-radius: 10px;
	transition: all 1s;
	
	span {
		font-size: 26px;
		font-weight: bold;
		&::before {
			content: '';
			
			display: block;
			width: 160px; height: 160px;
			
			margin: 0 auto 15px auto;
			
			background-image: url('../img/logo.png');
			background-size: 160px 160px;
		}
	}
	
	.btn-cancel {
		position: absolute;
		top: -15px; left: -15px;
		
		display: block;
		height: 30px; 
		width: 30px;
		
		background-color: red;
		border: none;
	}
	
	.btn {
		display: inline-block;
		width: 150px;
		
		margin: 10px 0 0 0;
		
		background: none;
		border: none;
		
		border: 1px solid black;
		background: rgba(0,0,0,0.5);
		padding: 5px 0;
		
		outline: none;
		
		img {
			width: 28px; 
			height: 28px;
		}
		
		&.btn-yes {
			margin-right: 20px;
		}
		&.btn-no {
			margin-left: 20px;
		}
	}
	
	&.is-active {
		top: 50%;
	}
}


.history {
	position: absolute;
	right: 0; top: 0;
	
	width: 200px;
	height: 100%;
	
	overflow: hidden;
	
	transform: translateX(200px);
	transition: all 0.8s;
	
	background: rgba(255, 245, 224, 0.47);
	text-align: center;
	
	h1 {
		padding: 10px 0;
		margin: 0 auto;
		display: block;		
	}	
	
	.button-wrapper {
		display: block;
		
		width: 100%;
		height: 20%;
		
		position: relative;
		
		.button-history {
			position: absolute;
			top: 50%; left: 50%;
			
			transform: translate(-50%, -50%);
			
			display: block;
			width: 64px;
			height: 64px;
			
			cursor: pointer;
			background-image: url('../img/fleche_retourHistorique.png');
			background-size: 64px 64px;
			background-repeat: no-repeat;
		}
	}

	.details {
		display: block;
		
		width: 100%;
		max-height: 70%;
		
		text-align: center;
		
		overflow-y: scroll;
		
		.action {
			width: 100%;
			height: 50px;
			
			line-height: 50px;
			
			cursor: pointer;
			transition: all 0.6s;
			
			a {
				width: 18px; height: 18px;
				background-color: red;
			}
			
			.libelle {
				margin: 0 20px;
			}
			
			.color {
				position: relative;
				top: 48%;
				
				transform: translateY(-50%);
				
				display: inline-block;
				width: 26px; height: 26px;
				
				border-radius: 50%;
				
				background-color: red;
			}
			
			&:hover {
				background: rgba(255, 245, 224,0.8);
			}
		}
	}
	
	&.is-active {
		width: 26%;
		transform: translateX(0px);
	}
}

.appli.on-history {
	transform: translateX(-20%);
}

.history-actions {
	.btn-history {
		position: absolute;
		right: 0;
		bottom: 0;
		
		display: block;
		height: 36px; width: 36px;
		background-color: red;
	}
}

// Goutte 
.goutte {
    display: none;
    
    position: absolute;
    top: 0; left: 0;
    
    width: 48px;
    height: 48px;
    
    cursor: grabbing;
	
    .svg_goutte {
        display: block; 
        
        position: relative;
        top: -10px; left: -15px;
    }
	
	&.on-grab {
		display: inline-block;
	}
}






/******************************************************/
/******************    TEINTE     *********************/
/******************************************************/
.teinte {
	position: absolute;
	top: 50%; left: 50%; 
	
	transform: translateX(-50%) translateY(-50%);
}

/******************************************************/
/*******************    RENDER     ********************/
/******************************************************/
/******************************************************/
/******************    POP UP     ********************/
/******************************************************/

.popup {
    
    h1 {
        position: absolute;
        left: 52%;
        top: 10%; right: 0;

        transform: translateX(-50%) translateY(-50%);
        margin: 0;
        font-family: 'BDRenaissance', sans-serif;
        font-size: 4em;
        width: 100%;
        text-align: center;
        font-weight: 100;
    }
    
    h2 {
        position: absolute;
        text-align: left;
        top: 20%;
        font-size: 2.1rem;
    }
    
    .gauche {
        
        position: absolute;
        top: 37%;
        
        .color {
            color: white;
            display: inline-block;
            font-size: 1.6rem;
            vertical-align: middle;
            width: 127px;
        }
        
        .red, .green, .blue {
            margin: 50px 0;
        }
        
        input {
            height: 40px;
            font-size: 1.1rem;
            color: #342f2f;
            width: 85px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            border: 0;
            padding: 7px;
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
        }
    }
    
    .droite {
        position: absolute;
        top: 37%;
        left: 50%;
            
        h3 {
            font-family: 'renaissance', Arial, Sans-serif;
            font-size: 4rem;
            margin: 0;
            }
        
        .pinceau {
            left: -82%;
            position: absolute;
            top: 69%;
            width: 400px;
            z-index: 999;
            
        }
        
        .tache {
            svg {
                width: 100%;
            }
        }
    }
    
    .picking-next {
            position: absolute;
            right: 0em;
            bottom: 0;
                            
                            
        .btn-next {

                    color: #ff9eff;
                    font-size: 1.3em;
                    margin: 15px;
                    display: block;
                    text-align: center;
                    width: 175px; 
                    height: 122px;
                    line-height: 133px;

                    background-image: url('../../assets/img/suivant_backSPRITE.png');
                    background-position: top left;

                    font-weight: bold;

                    &:hover {
                        background-position: bottom left;
                    }
        }	
                        
                        
    }
    
}

