.choose {
	background-color: transparent;
	height: 100%;
	
	h1.title {
		text-align: center;
		margin: 20px 0;
		font-family: 'BDRenaissance', sans-serif;
		font-size: 3em;
		width: 100%;
		font-weight: 100;
	}
	
	h2 {
		text-align: center;
	}
	
	.gallery-wrapper {
		position: absolute;
		top: 50%; left: 50%;
		
		transform: translate(-50%, -50%);
		
		display: block;
		width: 80%;
		height: 450px;
		margin: 0 auto;
		
		max-height: 450px;
		overflow-y: auto;
		
		background-color: rgba(0,0,0,0.3);
		
		.gallery {
			display: block;
			
			.gallery-item {
				position: relative;
				
				display: inline-block;
				
				width: 25%;
				height: 113px;
				
				float: left;
				
				cursor: pointer;
				box-sizing: border-box;
				margin: 10px 0;
				
				.item {
					position: absolute;
					top: 50%; left: 50%;
					
					transform: translate(-50%, -50%);
					
					width: 80%;
					height: 80%;
					
					box-sizing: border-box;
					padding: 5px 0;
					
					background-color: white;
					
					div.statut {
						position: absolute;
						top: -16px; right: -16px;
						
						display: none;
						
						width: 36px;
						height: 36px;
						
						background-color: green;
						border-radius: 50%;
						
						span {
							display: none;
							width: 36px; height: 36px;
							
							background-image: url('../img/valid-64-white.png');
							background-size: 28px 28px;
							background-repeat: no-repeat;
							background-position: center;
						}
					}
					
					&.is-choose {
						border: 5px solid green;
						
						.statut {
							display: inline-block;
							span {
								display: block;
							}
						}
					}
				}
				img {
					display: block;
					margin: 0 auto;
					width: auto;
					height: 100%;
					backface-visibility: hidden;
				}
			}
			
			&::after {
				content: '';
				display: table;
				clear: both;
			}
		}
	}
	
	.choose-next {
		position: absolute;
		bottom: 30px; right: 30px;
		
		display: block;
		text-align: right;
		button {
			color: #ff9eff;
			font-size: 1.3em;

			text-align: center;	
			display: block;

			outline: none;

			border: none;
			background: none;

			width: 175px; 
			height: 122px;
			line-height: 133px;

			background-image: url('../img/suivant_backSPRITE.png');
			background-position: top left;

			font-weight: bold;

			&:hover {
				background-position: bottom left;
			}
		}
	}
	
}
