
/******************************************************/
/*****************    FORMULAIRE     ******************/
/******************************************************/
.formulaire {
	position: absolute;
	top: 50%; left: 50%; 
	
	transform: translateX(-50%) translateY(-50%);

	text-align: center;
	h1 {
		margin: 0;
		
		position: relative;
		left: -20px;
		
		font-family: 'renaissance', Arial, Sans-serif;
		font-size: 127px;
		color: #303342;
	}
	
	.line {
		position: relative;

		display: block;
		height: 50px;
		
		margin: 15px 0;
		
		input {
			background: rgba(255, 255, 255, 0.5);
			display: block;
			
			color: #303342;
			height: 100%;
			width: 400px;
			
			font-family: 'EB Garamond', Arial, Sans-serif;
			text-align: left;
			
			border:0;
			
			padding: 0 72px;
			font-size:28px;
			
			box-sizing: border-box;
			
			transition: all 0.5s;
			
			&.validation-passed {
				background: rgba(63, 168, 52, 0.3);
			}
			
			&.validation-error {
				background: rgba(168, 66, 52, 0.3);
			}
		}
		
		#pseudo, #classe {
			background-repeat: no-repeat;
			display: inline-block;
			vertical-align: 25px;
		}
		
		#pseudo {
			background-image: url('../img/form_pseudo.png');
		}

		#classe {
			background-image: url('../img/form_classe.png');
		}
 
		
		.validation {
			position: absolute;
			top : 0; right: 20px; bottom: 0;
			
			width: 50px; height: 50px;
		
			transition: all 0.6s;
			.validation-wrapper {
				position: relative;
				
				display: inline-block;
				width: 100%; height: 100%;
				
				opacity: 0;
				
				span {
					position: absolute;
					top: 50%; left: 50%;

					transform: translateX(-50%) translateY(-50%);

					display: inline-block;
					width: 30px; height: 4px;

					background-color: transparent;

					&::before, &::after {
						content: '';
						display: inline-block;

						width: 30px; height: 4px;

						position: absolute;

						background-color: black;

						transition: all 0.6s;
					}

					&::before {
						transform: translateY(8px);
					}

					&::after {
						transform: translateY(-8px);
					}
				}

				&.validation-error {
					span {
						&::before, &::after {
							background-color: #A84234;
						}

						&::before {
							transform: rotate(-45deg);
						}

						&::after {
							transform: rotate(45deg);
						}
					}
				}

				&.validation-passed {
					span {
						&::before, &::after {
							background-color: #3FA834;
						}

						&::before {
							width: 16px;
							transform-origin: top left;
							transform: rotate(48deg);
						}

						&::after {
							transform-origin: top right;
							transform: rotate(-43deg) translateY(-8.5px) translateX(7px);
						}
					}
				}
				&.is-active {
					opacity: 1;
				}
			}
		}
	}
	
	input[type="submit"]{
		background: rgba(153, 153, 153, 0.4);
		color: #303342;
		width: 128px;
		font-size: 1.7em;
		text-align: center;
		padding: 0;
	}
}