/******************************************************/
/******************    PICKING     ********************/
/******************************************************/

.picking {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 95%;
	height: 95%;
	
	&.picking-wrapper {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		.picking-right {
			float: right;
			width: 35%;
			height: 100%;
			
			.choix-perso {
				box-sizing: border-box;
				padding: 7px 0 0 0;
				display: block;
				width: 100%;
				height: 25%;
				background: #4a4e4d;
				/* Old browsers */
				background: -moz-linear-gradient(top, #4a4e4d 29%, #436c67 100%);
				/* FF3.6-15 */
				background: -webkit-linear-gradient(top, #4a4e4d 29%, #436c67 100%);
				/* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #4a4e4d 29%, #436c67 100%);
				/* IE6-9 */
				.sliderPersonnage {	
					div {	
						position: relative;
						
						a {
							position: absolute;
							top: 50%; left: 50%;
							transform: translateX(-50%) translateY(-50%);
						}
					}
				}
			}
			
			.picking-perso {
				border: 1px dashed white;
				width: 100%;
				height: 65%;
				
				svg {
					display: block;
					width: 80%;
					height: auto;
					max-height: 100%;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 10;
					path {
						fill: transparent;
						z-index: 10;
						&.is-focus {
							cursor: grabbing;
						}
						&.is-color {
							marker: black;
							transition: all 0.5s;
							opacity: 1;
						}
					}
				}
			}
			
			.picking-save {
				text-align: center;
				
				width: 100%;
				height: 10%;
				
				position: relative;
				
				button {
					position: absolute;
					top: 50%; left: 50%;
					
					transform: translate(-50%, -50%);
					width: 80%;
					height: 50%;
					
					border: none;
					
					background: rgba(255, 245, 224, 0.8);
					
					font-size: 1.5em;
					font-family: 'BDRenaissance', sans-serif;
				}
			}
		}
		.picking-left {
			float: left;
			width: 65%;
			height: 100%;
			
			h1 {
				text-align: center;
				font-family: 'BDRenaissance', sans-serif;
				font-size: 3em;
				width: 100%;
				font-weight: 100;
				margin: 20px 0 20px 0;
			}	
			
			.picking-image {
				display: block;
				width: 80%;
				margin: 0 auto;
			}
			.picking-color {
				float: right;
				width: 60%;
				height: 60%;
				
				position: relative;
				
				.picking-level-div {
					position: absolute;
					top: 0; left: 0;
					
					height: 100%;
					width: 100%;
					
					transform: translateY(-100%);
					
					transition: all 0.6s;
					opacity: 0;
					
					.niveau {
						display: block;
						
						width: 100%;
						
						position: absolute;
						top: 50%; left: 50%;
						
						transform: translate(-50%, -50%);
						
						text-align: center;
					}
					&.is-active {
						transform: translateY(0%);
						opacity: 1;
					}
				}
				.picking-level-one {
					svg {
						margin: 0 auto;
						display: block;
						width: 80%;
						left: -15%;
					}
				}
				
				.picking-level-two {
					
					.rgbColor {
						display: block;

						width: 150px;
						height: 100px;

						margin: 20px auto;

						border: 1px solid black;
					}

					.slider-field {
						display: block;
						margin: 20px 0;
						text-align: center;
						h3 {
							margin: 0;
							padding: 0;
							
							width: 10%;
							float: left;
						}

						div {
							display: inline-block;
							width: 60%!important;
					
							margin: 0 auto;
							position: relative;
							top: 5px;
						}
						&::after {
							content: '';
							display: table;
							clear: both;
						}
					}

					.ui-slider, .ui-slider-horizontal, .ui-slider-horizontal, .ui-widget-content {
						position: relative;
						width: 30%!important;
						height: 10px;
						background: #C6C6C6;
						border-radius : 3px;
					}

					.ui-slider .ui-slider-handle {
						position: absolute;
						z-index: 2;
						cursor: grabbing;

						outline: none;

						-ms-touch-action: none;
						touch-action: none;

						width: 0;
						height: 0;
						border: none;
						background: transparent;
						border-style: solid;
						border-width: 0 10px 20px 10px;
						border-color: transparent transparent #f2f4f5 transparent;

					}

					.ui-slider .ui-slider-range {
						position: absolute;
						z-index: 1;
						font-size: .7em;
						display: inline-block;
						border: 0;
						background-position: 0 0;
					}	
				}
				
				.picking-level-three {
					text-align: center;
					
					.hexaColor {
						display: block;

						width: 150px;
						height: 100px;

						margin: 20px auto;

						border: 1px solid black;
					}
					
					.picking-hexa {
						display: inline-block; 
						margin: 0 auto;
						
						width: 50%;
						padding: 0px 20px 10px 20px;
						
						background-color: rgba(255, 245, 224, 0.5);
						text-align: center;
						
						.diese, input {
							display: inline-block;
						}
						.diese {
							font-size: 48px;
							font-weight: bold;
							position: relative;
							top: 8px; right: 5px;
						}
						
						input {
							border: 1px solid black;
							background-color: transparent;
							text-align: center;
							
							width: 150px;
							height: 30px;
							line-height: 30px;
							font-size: 24px;
							
						}
					}
				}
			}
			
			.picking-level {
				float: left;
				width: 40%;
				height: 60%;
				
				position: relative;
				
				ul {
					position: absolute;
					top: 50%; left: 0;
					
					transform: translateY(-50%);
					
					margin: 0; 
	
					li.item {
						list-style: none;
						text-align: center;

						margin: 30px 0 0 0;
						padding: 0;
						button {
							
							outline: none;
							border: none;
							background: none;
							
							float: right;
							color: #0affff;
							position: relative;
							top: 50%;
							margin: 10px;
							display: block;

							width: 150px; 
							height: 105px;
							line-height: 105px;

							background-image: url('../img/niveau_backSPRITE.png');
							background-position: top left;

							font-family: 'EB Garamond', Arial, Sans-serif;
							font-size: 1em;
							font-weight: bold;
							
							&:hover {
								background-position: bottom left;
							}
						}

						&.level-1 {
							margin-right: 20px;
						}

						&.level-2 {
							margin-right: 20px;
						}

						&.level-3 {
							margin-right: 20px;
						}
					}
				}
			}
			
			.picking-next {
				width: 100%;
				
				float: right;
				position: relative;
				
				button, a {
					position: absolute;
					top: 0; right: 0;
					
					float: right;
					color: #ff9eff;
					font-size: 1.3em;
				
					text-align: center;	
					display: block;
					
					outline: none;
					
					border: none;
					background: none;
					
					width: 175px; 
					height: 122px;
					line-height: 133px;

					background-image: url('../img/suivant_backSPRITE.png');
					background-position: top left;
					
					font-family: 'EB Garamond', Arial, Sans-serif;
					font-size: 1em;
					font-weight: bold;
					&:hover {
						background-position: bottom left;
					}
				}
			}
		}
	}
}

.owl-item {
	margin: 0 7px;
	background: white;
	padding: 5px;
	box-sizing: border-box;
	max-height: 130px;
	height: 130px;
	position: relative;
	.miniatures {
		position: absolute;
		top: 50%;
		svg { 
			max-height: 123px;
		}
	}
}


.wrapperCode {
	position: absolute;
	left: 50%; top: 50%;
	
	width: 0%;
	height: 90%;
	
	transform: translateX(-50%) translateY(-50%);
	
	transition: all 1s;
	padding: 10px;
	&.is-active {
		z-index: 15;
		width: 80%;
		background-image: url('../img/popup-fond.jpg');
		background-size: cover;
	}
	
	.content {
		display: block;
		
		height: 100%;
		width: 100%;	
		
		opacity: 0;
		transition: all 0.4s;
		
		&.is-show {
			opacity: 1;
		}
	}
	.preview {
		height: 10%;
		
		text-align: center;
		
		h1 {
			text-align: center;
			font-family: 'BDRenaissance', sans-serif; 
			font-size: 3em;
			width: 100%;
			font-weight: 100;
			padding-left: 30px;
		}
	}
	.row {
		display: block;
		width: 100%;
		height: 90%;
		
		.side-left, .side-right {
			width: 50%;
			height: 100%;
			float: left;

		}
		
		.side-left {
			position: relative;
			
			h3 {
				font-size: 28px;
				padding: 0;
				margin: 50px 0 0 0;
			}
			
			.find-color {
				position: absolute;
				height: 80%;
				width: 100%;
				padding: 20px;
				
				transform: translateX(-100%);
				opacity: 0;
				
				transition: all 0.5s;
				
				.color-wrapper {
					height: 100%;
					width: 100%;
					
					.color-container {
						height: 30%;
						text-align: center;
						box-sizing: border-box;
						padding-top: 20px;
						span {
							font-weight: bold;
							font-size: 18px;
						}
						span#result-test, .color {
							display: inline-block;
						}
						.color {
							display: inline-block;
							margin: 10px auto;
							
							width: 150px;
							height: 70px;
						}
						
						span#result-test {
							display: inline-block;
							width: 30px;
							height: 30px;
							
							position: relative;
							bottom: 15%; left: 20px;
							&::before, &::after {
								content: '';
								display: inline-block;

								width: 30px; height: 4px;

								position: absolute;

								background-color: #A84234;

								transition: all 0.6s;
							}

							&::before {
								transform: rotate(-45deg);
							}

							&::after {
								transform: rotate(45deg);
							}
						}
					}
					.code-color {
						height: 60%;
						
						.input-field {
							display: block;
							height: 33%;
							position: relative;
							
							label {
								position: absolute;
								top: 47%; left: 0;
								
								font-size: 24px;
								transform: translateY(-50%);
							}
							
							input[type="text"] {
								position: absolute;
								top: 50%; left: 50%;
								transform: translateY(-50%) translateX(-50%);
								
								width: 100px;
								height: 30px;
								
								border: none;
								border-radius: 8px;
								font-size: 24px;
								
								text-align: center;
							}
						}
					}
					.code-btn {
						height: 10%;
						text-align: center;
						button {
                            background-color:rgba(255, 245, 224, 0.8);
                            display:inline-block;
                            cursor:pointer;
                            color:#000;
                            margin: 0 15px;
                            font-family: 'EB Garamond', Arial, Sans-serif;
                            width: 100px;
                            font-size:18px;
                            font-weight:bold;
                            padding:12px 16px;
                            text-decoration:none;
                            border:0;
                        }
                        button:hover {
                           
                            background-color:#ccc2a6;
                        }
                        button:active {
                            position:relative;
                            top:1px;
                        }
					}
				}	
				
				&.current {
					transform: translateX(0);
					opacity: 1;
				}
				
				&.validation-passed .color-wrapper {
					span#result-test {
						display: inline-block;
						&::before, &::after {
							background-color: #3FA834;
						}

						&::before {
							width: 16px;
							transform-origin: top left;
							transform: rotate(48deg);
						}

						&::after {
							transform-origin: top right;
							transform: rotate(-43deg) translateY(-8.5px) translateX(7px);
						}
					}
				}
			}
		}
		
		.side-right {
			.preview-svg {
				width: 100%;
				height: 100%;
				
				position: relative;
				
				.pinceau {
					display: block;
					
					position: absolute;
					bottom: 0; left: 0;
					
					z-index: 1;
					width: 200px;
					height: 250px;
					
					background-image: url('../img/pinceau.png');
					background-size: 100% 100%;

					transform-origin: bottom left;
					transition: all 0.2s;
					
					backface-visibility: hidden;
					
					&.is-moving {
						transform: rotate(10deg);
						backface-visibility: hidden;
					}
				}
				
				svg {
					display: block;
					position: absolute;
					top: 50%; left: 50%;
					
					transform: translate(-50%, -50%);
				}
			}
		}
		&::after {
			content: '';
			display: table;
			clear: both;
		}
	}
}