.rendering {
	position: absolute;
	top: 50%; left: 50%;
	
	transform: translate(-50%, -50%);
	display: block;
	width: 90%;
	height: 90%;
	margin: 0 auto;
  
    .dropzone-btn-helper {
        width: 575px;
        margin: auto;
		text-align: center;
        
		button {     
			background-color:rgba(255, 245, 224, 0.8);
			display:inline-block;
			cursor:pointer;
			color:#000;
			margin: 0 15px;
			font-family: 'EB Garamond', Arial, Sans-serif;
			width: auto;
			font-size:18px;
			font-weight:bold;
			padding:12px 16px;
			text-decoration:none;
			border:0;
			margin: 20px 15px;
		}
		button:hover {
			background-color:#ccc2a6;
		}
	}

	.stepRendering {
		position: absolute;
		bottom: 0; 
		right: 0;
		color: #ff9eff; 
		font-size: 1.3em; 
		text-align: center; 
		display: block; 
		outline: none; 
		border: none; 
		background: none; 
		width: 175px; 
		height: 122px; 
		line-height: 133px; 
		background-image: url("../img/suivant_backSPRITE.png"); 
		background-position: top left; 
		font-weight: bold;
		
		&:hover {
			background-position: bottom left;
		}
	}
}

.main {
	height: 80%;
   
	h1 {
       text-align: center;
        font-family: 'BDRenaissance', sans-serif;
        font-size: 3em;
        width: 100%;
        font-weight: 100;
		margin: 0;
		padding: 0;
    }
    
	.dropzone {
		position: relative;
		
		display: block;
		width: 90%;
		height: 530px;
		margin: 25px auto;
	
		background-image: url('http://ledigivoyage.net/img/B&C/fond.png?ver=1.3');
		background-size: 100% 100%;
		
		transition: all 0.6s;
		
		border: 2px dashed transparent;
		
		canvas > * {
			position: absolute;
			
			display: block;
			
			z-index: 5000;
		}
		
		
		.drop-item {
			cursor: move;
			border: 2px dashed transparent;
			backface-visibility: hidden;
			
			img {
				backface-visibility: hidden;
			}
			
			&:hover {
				border: 2px dashed #FF6F3F;
			}
		}
		
		.dropzone-remove-item {
			position: absolute;
			bottom: 0; right: 0;
			
			display: block;
			width: 64px; height: 64px;
			
			background-color: rgba(255, 255, 255, 0.5);
			
			transform: translateX(64px) translateZ(0) scale(1.0, 1.0);
			backface-visibility: hidden;
			
			
			transition: all 0.4s;
			
			.remove-item {
				position: absolute;
				top: 50%; left: 50%;
				
				transform: translate(-50%, -50%);
				
				display: block;
				
				width: 48px;
				height: 48px;
				
				background-image: url('../img/delete.png');
				margin: 0 auto;
			}
			
			&.is-active {
				background-color: rgba(255, 255, 255, 0.8);
				transform: translateX(0);				
			}
			
			&.is-focus {
				background-color: rgba(255, 0, 0, 0.8);
				transform: translateX(0);			
			}
		}
		
		&.is-focus {
			position: relative;
			border: 2px dashed aqua;
			z-index: 20;
		}
	}
	
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.resizer {
	background-color: rgba(0,0,0,0.5);
}

.ne-resizer, .no-resizer, .so-resizer, .se-resizer, .s-resizer, .n-resizer, .o-resizer, .e-resizer {
	background-color: #FF6F3F;
}

.ne-resizer::before, .ne-resizer::after, .no-resizer::before, .no-resizer::after, .so-resizer::before, .so-resizer::after, .se-resizer::before, .se-resizer::after {
	background-color: #FF6F3F;
}

.no-resizer {
	cursor: nwse-resize;
	
	&::before {
		z-index: 10;
		
		position: absolute;
		
		top: -2px;
		left: -2px;

		content: '';
		
		display: inline-block;
		
		width: 20%;
		height: 3px;
		
	}
	
	&::after {
		z-index: 10;
		
		position: absolute;
		
		top: -2px;
		left: -2px;

		content: '';
		
		display: inline-block;
		
		width: 3px;
		height: 20%;
		
	}
}

.ne-resizer {
	cursor: ne-resize;
	&::before {
		z-index: 10;
		
		position: absolute;
		
		top: -2px;
		right: -2px;

		content: '';
		
		display: inline-block;
		
		width: 20%;
		height: 3px;
	}
	
	&::after {
		z-index: 10;
		
		position: absolute;
		
		top: -2px;
		right: -2px;

		content: '';
		
		display: inline-block;
		
		width: 3px;
		height: 20%;
	}
}

.so-resizer {
	cursor: sw-resize;
	&::before {
		z-index: 10;
		
		position: absolute;
		
		bottom: -2px;
		left: -2px;

		content: '';
		
		display: inline-block;
		
		width: 20%;
		height: 3px;
	}
	
	&::after {
		z-index: 10;
		
		position: absolute;
		
		bottom: -2px;
		left: -2px;

		content: '';
		
		display: inline-block;
		
		width: 3px;
		height: 20%;

	}
}

.se-resizer {
	cursor: se-resize;
	
	&::before {
		z-index: 10;
		
		position: absolute;
		
		bottom: -2px;
		right: -2px;

		content: '';
		
		display: inline-block;
		
		width: 20%;
		height: 3px;
	}
	
	&::after {
		z-index: 10;
		
		position: absolute;
		
		bottom: -2px;
		right: -2px;

		content: '';
		
		display: inline-block;
		
		width: 3px;
		height: 20%;
	}
}

.n-resizer {
	cursor: n-resize;
	z-index: 10;
	
	position: absolute;
	left: 50%;
	top: 0;
	
	transform: translateX(-50%);

	width: 15px;
	height: 3px;	
}

.s-resizer {
	cursor: s-resize;
	z-index: 10;
	
	position: absolute;
	bottom: 0;
	left: 50%;
	
	transform: translateX(-50%);

	width: 15px;
	height: 3px;	
}

.e-resizer {
	cursor: e-resize;
	z-index: 10;
	
	position: absolute;
	top : 50%;
	left: 0;
	
	transform: translateY(-50%);

	width: 3px;
	height: 15px;	
}

.o-resizer {
	cursor: w-resize;
	z-index: 10;
	
	position: absolute;
	top : 50%;
	right: 0;
	
	transform: translateY(-50%);

	width: 3px;
	height: 15px;	
}

.c-resizer {
	cursor: move;
	
	&::before {
		z-index: 10;
		
		content: '';
		
		position: absolute;
		top: 50%; left: 50%;

		transform: translate(-50%, -50%);
		
		display: inline-block;

		width: 3px;
		height: 20px;
		
		background-color: white;
	}
	
	&::after {
		z-index: 10;
		
		content: '';
		
		position: absolute;
		top: 50%; left: 50%;

		transform: translate(-50%, -50%);
		
		display: inline-block;

		width: 20px;
		height: 3px;
		
		background-color: white;
  
	}
}