/******************************************************/
/*******************    SEXE     **********************/
/******************************************************/
.sexe {
	position: absolute;
	top: 50%; left: 50%; 
	
	transform: translateX(-50%) translateY(-50%);
	h1 {
		display: block;
		margin: 0 auto;
		padding: 0;
		font-family: 'renaissance', Arial, Sans-serif;
		font-size: 107px;
		color: #303342;
	}
	
	.boy, .girl {
		position: relative;
		
		float: left;
		width: 50%;
		
		box-sizing: border-box;
		padding: 15px;
		margin: 0;
		
		text-align: center;
		
		overflow: hidden;
		input[type='text'] {
			display: block;
			height: 220px;
			width: 90%;
			
			border: none;
			background-color: transparent;
			outline: none;
			
			box-sizing: border-box;
			padding: 20px;
			
			transition: all 0.6s;
			cursor: pointer;
		}
		
		.iptBoy {
			background-image: url('../img/homme_gris.png');
			background-repeat: no-repeat;
			background-position: center;
            background-size: contain;
		}
		
		.iptGirl {
			background-image: url('../img/femme_gris.png');
			background-repeat: no-repeat;
			background-position: center;
            background-size: contain;
		}
		
		span {
			display: block;
			
		}
	}
	
	.boy {
		.item {
			transition: all 0.6s;
			backface-visibility: hidden;
		}
		
		.item-chapeau {
			position: absolute;
			top: 0; left: 18%;
			background-image: url('../img/chapeau.png');
            background-size: cover;
			display: inline-block;
            width: 81px;
            height: 69px;
			background-color: transparent;
			margin: 0; padding: 0;
			
			&.hidden {
				transform: translateX(200px) translateY(0);
			}
			
		}
		
		.item-ceinture {
			position: absolute;
			top: 50%; left: 30%;
			
			display: inline-block;
			width: 45px; height: 25px;

			
			margin: 0; padding: 0;
			
			&.hidden {
				transform: translateX(-200px) translateY(0);
			}
			
		}
		
	}
    
    
    .girl {
		.item {
			transition: all 0.6s;
			backface-visibility: hidden;
		}
		
		.item-chapeau {
			position: absolute;
			top: 8%; left: 18%;
			background-image: url('../img/chapeau2.png');
            background-size: cover;
			display: inline-block;
            width: 81px;
            height: 37px;
			background-color: transparent;
			margin: 0; padding: 0;
			
			&.hidden {
				transform: translateX(200px) translateY(0);
			}
			
		}
		
		.item-ceinture {
			position: absolute;
			top: 50%; left: 30%;
			
			display: inline-block;
			width: 45px; height: 25px;

			
			margin: 0; padding: 0;
			
			&.hidden {
				transform: translateX(-200px) translateY(0);
			}
			
		}
		
	}
	
	input[type='submit'] {
		display: block;
		margin: 0 auto;

		width: 50%;
		background: rgba(153, 153, 153, 0.4);
		color: #303342;
		
		font-size: 1.7em;
		text-align: center;
		padding: 0;
	}
	
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
