.dynamic { height: 100%; }

.final { height: 100%; padding: 20px; }

.final .gauche { position: relative; height: 100%; width: 32%; box-sizing: border-box; display: block; float: left; }

.final .gauche p { margin: 0; padding: 60px 20px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-family: 'renaissance', sans-serif; font-size: 3em; line-height: 1.4em; text-align: center; background-color: rgba(255, 245, 255, 0.4); }

.final .gauche button { margin: 20px auto 0; color: #ff9eff; font-size: 1.4em; text-align: center; display: block; outline: none; border: none; background: none; width: 175px; height: 122px; line-height: 133px; background-image: url("../img/suivant_backSPRITE.png"); background-position: top left; font-weight: bold; font-family: 'EB Garamond', Arial, Sans-serif; position: relative; bottom: 60px; }

.final .gauche button:hover { background-position: bottom left; }

.final .gauche img { display: block; margin: 30px auto 0 auto; width: 128px; height: auto; }

.final .droite { width: 67%; float: right; box-sizing: border-box; display: block; }

.final .droite .peinture { box-sizing: border-box; text-align: center; margin-top: 2em; }

.final .droite .peinture img.oeuvre { max-width: 90%; border-right: 2.5em solid white; box-sizing: border-box; margin: 0; display: block; margin: auto; }

.final .droite .peinture img.chevalet { max-width: 80%; box-sizing: border-box; margin: 0; display: block; margin: auto; }
