/******************************************************/
/*****************    FORMULAIRE     ******************/
/******************************************************/
.formulaire { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); text-align: center; }

.formulaire h1 { margin: 0; position: relative; left: -20px; font-family: 'renaissance', Arial, Sans-serif; font-size: 127px; color: #303342; }

.formulaire .line { position: relative; display: block; height: 50px; margin: 15px 0; }

.formulaire .line input { background: rgba(255, 255, 255, 0.5); display: block; color: #303342; height: 100%; width: 400px; font-family: 'EB Garamond', Arial, Sans-serif; text-align: left; border: 0; padding: 0 72px; font-size: 28px; box-sizing: border-box; -webkit-transition: all 0.5s; transition: all 0.5s; }

.formulaire .line input.validation-passed { background: rgba(63, 168, 52, 0.3); }

.formulaire .line input.validation-error { background: rgba(168, 66, 52, 0.3); }

.formulaire .line #pseudo, .formulaire .line #classe { background-repeat: no-repeat; display: inline-block; vertical-align: 25px; }

.formulaire .line #pseudo { background-image: url("../img/form_pseudo.png"); }

.formulaire .line #classe { background-image: url("../img/form_classe.png"); }

.formulaire .line .validation { position: absolute; top: 0; right: 20px; bottom: 0; width: 50px; height: 50px; -webkit-transition: all 0.6s; transition: all 0.6s; }

.formulaire .line .validation .validation-wrapper { position: relative; display: inline-block; width: 100%; height: 100%; opacity: 0; }

.formulaire .line .validation .validation-wrapper span { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); display: inline-block; width: 30px; height: 4px; background-color: transparent; }

.formulaire .line .validation .validation-wrapper span::before, .formulaire .line .validation .validation-wrapper span::after { content: ''; display: inline-block; width: 30px; height: 4px; position: absolute; background-color: black; -webkit-transition: all 0.6s; transition: all 0.6s; }

.formulaire .line .validation .validation-wrapper span::before { -webkit-transform: translateY(8px); transform: translateY(8px); }

.formulaire .line .validation .validation-wrapper span::after { -webkit-transform: translateY(-8px); transform: translateY(-8px); }

.formulaire .line .validation .validation-wrapper.validation-error span::before, .formulaire .line .validation .validation-wrapper.validation-error span::after { background-color: #A84234; }

.formulaire .line .validation .validation-wrapper.validation-error span::before { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.formulaire .line .validation .validation-wrapper.validation-error span::after { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.formulaire .line .validation .validation-wrapper.validation-passed span::before, .formulaire .line .validation .validation-wrapper.validation-passed span::after { background-color: #3FA834; }

.formulaire .line .validation .validation-wrapper.validation-passed span::before { width: 16px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotate(48deg); transform: rotate(48deg); }

.formulaire .line .validation .validation-wrapper.validation-passed span::after { -webkit-transform-origin: top right; transform-origin: top right; -webkit-transform: rotate(-43deg) translateY(-8.5px) translateX(7px); transform: rotate(-43deg) translateY(-8.5px) translateX(7px); }

.formulaire .line .validation .validation-wrapper.is-active { opacity: 1; }

.formulaire input[type="submit"] { background: rgba(153, 153, 153, 0.4); color: #303342; width: 128px; font-size: 1.7em; text-align: center; padding: 0; }
