/******************************************************/
/******************    PICKING     ********************/
/******************************************************/
.picking { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); display: block; width: 95%; height: 95%; }

.picking.picking-wrapper img { display: block; width: 100%; height: auto; }

.picking.picking-wrapper .picking-right { float: right; width: 35%; height: 100%; }

.picking.picking-wrapper .picking-right .choix-perso { box-sizing: border-box; padding: 7px 0 0 0; display: block; width: 100%; height: 25%; background: #4a4e4d; /* Old browsers */ /* FF3.6-15 */ background: -webkit-linear-gradient(top, #4a4e4d 29%, #436c67 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #4a4e4d 29%, #436c67 100%); /* IE6-9 */ }

.picking.picking-wrapper .picking-right .choix-perso .sliderPersonnage div { position: relative; }

.picking.picking-wrapper .picking-right .choix-perso .sliderPersonnage div a { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }

.picking.picking-wrapper .picking-right .picking-perso { border: 1px dashed white; width: 100%; height: 65%; }

.picking.picking-wrapper .picking-right .picking-perso svg { display: block; width: 80%; height: auto; max-height: 100%; position: relative; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 10; }

.picking.picking-wrapper .picking-right .picking-perso svg path { fill: transparent; z-index: 10; }

.picking.picking-wrapper .picking-right .picking-perso svg path.is-focus { cursor: -webkit-grabbing; cursor: grabbing; }

.picking.picking-wrapper .picking-right .picking-perso svg path.is-color { marker: black; -webkit-transition: all 0.5s; transition: all 0.5s; opacity: 1; }

.picking.picking-wrapper .picking-right .picking-save { text-align: center; width: 100%; height: 10%; position: relative; }

.picking.picking-wrapper .picking-right .picking-save button { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 80%; height: 50%; border: none; background: rgba(255, 245, 224, 0.8); font-size: 1.5em; font-family: 'BDRenaissance', sans-serif; }

.picking.picking-wrapper .picking-left { float: left; width: 65%; height: 100%; }

.picking.picking-wrapper .picking-left h1 { text-align: center; font-family: 'BDRenaissance', sans-serif; font-size: 3em; width: 100%; font-weight: 100; margin: 20px 0 20px 0; }

.picking.picking-wrapper .picking-left .picking-image { display: block; width: 80%; margin: 0 auto; }

.picking.picking-wrapper .picking-left .picking-color { float: right; width: 60%; height: 60%; position: relative; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-div { position: absolute; top: 0; left: 0; height: 100%; width: 100%; -webkit-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: all 0.6s; transition: all 0.6s; opacity: 0; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-div .niveau { display: block; width: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-div.is-active { -webkit-transform: translateY(0%); transform: translateY(0%); opacity: 1; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-one svg { margin: 0 auto; display: block; width: 80%; left: -15%; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-two .rgbColor { display: block; width: 150px; height: 100px; margin: 20px auto; border: 1px solid black; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-two .slider-field { display: block; margin: 20px 0; text-align: center; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-two .slider-field h3 { margin: 0; padding: 0; width: 10%; float: left; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-two .slider-field div { display: inline-block; width: 60% !important; margin: 0 auto; position: relative; top: 5px; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-two .slider-field::after { content: ''; display: table; clear: both; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-two .ui-slider, .picking.picking-wrapper .picking-left .picking-color .picking-level-two .ui-slider-horizontal, .picking.picking-wrapper .picking-left .picking-color .picking-level-two .ui-slider-horizontal, .picking.picking-wrapper .picking-left .picking-color .picking-level-two .ui-widget-content { position: relative; width: 30% !important; height: 10px; background: #C6C6C6; border-radius: 3px; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-two .ui-slider .ui-slider-handle { position: absolute; z-index: 2; cursor: -webkit-grabbing; cursor: grabbing; outline: none; -ms-touch-action: none; touch-action: none; width: 0; height: 0; border: none; background: transparent; border-style: solid; border-width: 0 10px 20px 10px; border-color: transparent transparent #f2f4f5 transparent; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-two .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: inline-block; border: 0; background-position: 0 0; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-three { text-align: center; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-three .hexaColor { display: block; width: 150px; height: 100px; margin: 20px auto; border: 1px solid black; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-three .picking-hexa { display: inline-block; margin: 0 auto; width: 50%; padding: 0px 20px 10px 20px; background-color: rgba(255, 245, 224, 0.5); text-align: center; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-three .picking-hexa .diese, .picking.picking-wrapper .picking-left .picking-color .picking-level-three .picking-hexa input { display: inline-block; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-three .picking-hexa .diese { font-size: 48px; font-weight: bold; position: relative; top: 8px; right: 5px; }

.picking.picking-wrapper .picking-left .picking-color .picking-level-three .picking-hexa input { border: 1px solid black; background-color: transparent; text-align: center; width: 150px; height: 30px; line-height: 30px; font-size: 24px; }

.picking.picking-wrapper .picking-left .picking-level { float: left; width: 40%; height: 60%; position: relative; }

.picking.picking-wrapper .picking-left .picking-level ul { position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); margin: 0; }

.picking.picking-wrapper .picking-left .picking-level ul li.item { list-style: none; text-align: center; margin: 30px 0 0 0; padding: 0; }

.picking.picking-wrapper .picking-left .picking-level ul li.item button { outline: none; border: none; background: none; float: right; color: #0affff; position: relative; top: 50%; margin: 10px; display: block; width: 150px; height: 105px; line-height: 105px; background-image: url("../img/niveau_backSPRITE.png"); background-position: top left; font-family: 'EB Garamond', Arial, Sans-serif; font-size: 1em; font-weight: bold; }

.picking.picking-wrapper .picking-left .picking-level ul li.item button:hover { background-position: bottom left; }

.picking.picking-wrapper .picking-left .picking-level ul li.item.level-1 { margin-right: 20px; }

.picking.picking-wrapper .picking-left .picking-level ul li.item.level-2 { margin-right: 20px; }

.picking.picking-wrapper .picking-left .picking-level ul li.item.level-3 { margin-right: 20px; }

.picking.picking-wrapper .picking-left .picking-next { width: 100%; float: right; position: relative; }

.picking.picking-wrapper .picking-left .picking-next button, .picking.picking-wrapper .picking-left .picking-next a { position: absolute; top: 0; right: 0; float: right; color: #ff9eff; font-size: 1.3em; text-align: center; display: block; outline: none; border: none; background: none; width: 175px; height: 122px; line-height: 133px; background-image: url("../img/suivant_backSPRITE.png"); background-position: top left; font-family: 'EB Garamond', Arial, Sans-serif; font-size: 1em; font-weight: bold; }

.picking.picking-wrapper .picking-left .picking-next button:hover, .picking.picking-wrapper .picking-left .picking-next a:hover { background-position: bottom left; }

.owl-item { margin: 0 7px; background: white; padding: 5px; box-sizing: border-box; max-height: 130px; height: 130px; position: relative; }

.owl-item .miniatures { position: absolute; top: 50%; }

.owl-item .miniatures svg { max-height: 123px; }

.wrapperCode { position: absolute; left: 50%; top: 50%; width: 0%; height: 90%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); -webkit-transition: all 1s; transition: all 1s; padding: 10px; }

.wrapperCode.is-active { z-index: 15; width: 80%; background-image: url("../img/popup-fond.jpg"); background-size: cover; }

.wrapperCode .content { display: block; height: 100%; width: 100%; opacity: 0; -webkit-transition: all 0.4s; transition: all 0.4s; }

.wrapperCode .content.is-show { opacity: 1; }

.wrapperCode .preview { height: 10%; text-align: center; }

.wrapperCode .preview h1 { text-align: center; font-family: 'BDRenaissance', sans-serif; font-size: 3em; width: 100%; font-weight: 100; padding-left: 30px; }

.wrapperCode .row { display: block; width: 100%; height: 90%; }

.wrapperCode .row .side-left, .wrapperCode .row .side-right { width: 50%; height: 100%; float: left; }

.wrapperCode .row .side-left { position: relative; }

.wrapperCode .row .side-left h3 { font-size: 28px; padding: 0; margin: 50px 0 0 0; }

.wrapperCode .row .side-left .find-color { position: absolute; height: 80%; width: 100%; padding: 20px; -webkit-transform: translateX(-100%); transform: translateX(-100%); opacity: 0; -webkit-transition: all 0.5s; transition: all 0.5s; }

.wrapperCode .row .side-left .find-color .color-wrapper { height: 100%; width: 100%; }

.wrapperCode .row .side-left .find-color .color-wrapper .color-container { height: 30%; text-align: center; box-sizing: border-box; padding-top: 20px; }

.wrapperCode .row .side-left .find-color .color-wrapper .color-container span { font-weight: bold; font-size: 18px; }

.wrapperCode .row .side-left .find-color .color-wrapper .color-container span#result-test, .wrapperCode .row .side-left .find-color .color-wrapper .color-container .color { display: inline-block; }

.wrapperCode .row .side-left .find-color .color-wrapper .color-container .color { display: inline-block; margin: 10px auto; width: 150px; height: 70px; }

.wrapperCode .row .side-left .find-color .color-wrapper .color-container span#result-test { display: inline-block; width: 30px; height: 30px; position: relative; bottom: 15%; left: 20px; }

.wrapperCode .row .side-left .find-color .color-wrapper .color-container span#result-test::before, .wrapperCode .row .side-left .find-color .color-wrapper .color-container span#result-test::after { content: ''; display: inline-block; width: 30px; height: 4px; position: absolute; background-color: #A84234; -webkit-transition: all 0.6s; transition: all 0.6s; }

.wrapperCode .row .side-left .find-color .color-wrapper .color-container span#result-test::before { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.wrapperCode .row .side-left .find-color .color-wrapper .color-container span#result-test::after { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.wrapperCode .row .side-left .find-color .color-wrapper .code-color { height: 60%; }

.wrapperCode .row .side-left .find-color .color-wrapper .code-color .input-field { display: block; height: 33%; position: relative; }

.wrapperCode .row .side-left .find-color .color-wrapper .code-color .input-field label { position: absolute; top: 47%; left: 0; font-size: 24px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.wrapperCode .row .side-left .find-color .color-wrapper .code-color .input-field input[type="text"] { position: absolute; top: 50%; left: 50%; -webkit-transform: translateY(-50%) translateX(-50%); transform: translateY(-50%) translateX(-50%); width: 100px; height: 30px; border: none; border-radius: 8px; font-size: 24px; text-align: center; }

.wrapperCode .row .side-left .find-color .color-wrapper .code-btn { height: 10%; text-align: center; }

.wrapperCode .row .side-left .find-color .color-wrapper .code-btn button { background-color: rgba(255, 245, 224, 0.8); display: inline-block; cursor: pointer; color: #000; margin: 0 15px; font-family: 'EB Garamond', Arial, Sans-serif; width: 100px; font-size: 18px; font-weight: bold; padding: 12px 16px; text-decoration: none; border: 0; }

.wrapperCode .row .side-left .find-color .color-wrapper .code-btn button:hover { background-color: #ccc2a6; }

.wrapperCode .row .side-left .find-color .color-wrapper .code-btn button:active { position: relative; top: 1px; }

.wrapperCode .row .side-left .find-color.current { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }

.wrapperCode .row .side-left .find-color.validation-passed .color-wrapper span#result-test { display: inline-block; }

.wrapperCode .row .side-left .find-color.validation-passed .color-wrapper span#result-test::before, .wrapperCode .row .side-left .find-color.validation-passed .color-wrapper span#result-test::after { background-color: #3FA834; }

.wrapperCode .row .side-left .find-color.validation-passed .color-wrapper span#result-test::before { width: 16px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotate(48deg); transform: rotate(48deg); }

.wrapperCode .row .side-left .find-color.validation-passed .color-wrapper span#result-test::after { -webkit-transform-origin: top right; transform-origin: top right; -webkit-transform: rotate(-43deg) translateY(-8.5px) translateX(7px); transform: rotate(-43deg) translateY(-8.5px) translateX(7px); }

.wrapperCode .row .side-right .preview-svg { width: 100%; height: 100%; position: relative; }

.wrapperCode .row .side-right .preview-svg .pinceau { display: block; position: absolute; bottom: 0; left: 0; z-index: 1; width: 200px; height: 250px; background-image: url("../img/pinceau.png"); background-size: 100% 100%; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transition: all 0.2s; transition: all 0.2s; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.wrapperCode .row .side-right .preview-svg .pinceau.is-moving { -webkit-transform: rotate(10deg); transform: rotate(10deg); -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.wrapperCode .row .side-right .preview-svg svg { display: block; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.wrapperCode .row::after { content: ''; display: table; clear: both; }
