body { max-width: 100%; overflow-x: hidden; }

.apinkslider { position: relative; display: block; margin: 0 auto; background-image: url("../../public/img/fond_thumb.png"); background-size: auto; padding: 10px 70px 5px 70px; }

.apinkslider img { display: inline-block; }

.apinkslider-overflow { position: relative; z-index: 21; width: 100%; -webkit-transition: all 2s; transition: all 2s; font-size: 0; }

.apinkslider-overflow .apinkslider-pack { display: inline-block; -webkit-transition: all 1s; transition: all 1s; }

.apinkslider-overflow .apinkslider-pack.apinkslider-show { visibility: visible; opacity: 1; }

.apinkslider-overflow .apinkslider-pack.apinkslider-hide { visibility: hidden; opacity: 0; }

.apinkslider-overflow .apinkslider-pack.no-select { -webkit-touch-callout: none; /* iOS Safari */ -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* Internet Explorer/Edge */ user-select: none; /* Non-prefixed version, currently */ }

.apinkslider-overflow::after { content: ''; display: table; clear: both; }

.apinkslider-helper .apinkslider-nav { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.apinkslider-helper .apinkslider-nav .apinkslider-prev, .apinkslider-helper .apinkslider-nav .apinkslider-next { position: absolute; z-index: 30; display: block; cursor: pointer; width: 48px; height: 48px; }

.apinkslider-helper .apinkslider-nav .apinkslider-prev { position: absolute; top: 30%; left: 0; background-image: url("../../public/img/fleche_gauche.png"); background-size: 100% 100%; -webkit-transform: translateX(30%) translateY(-50%); transform: translateX(30%) translateY(-50%); }

.apinkslider-helper .apinkslider-nav .apinkslider-next { position: absolute; top: 30%; right: 0; background-image: url("../../public/img/fleche_droite.png"); background-size: 100% 100%; -webkit-transform: translateX(-30%) translateY(-50%); transform: translateX(-30%) translateY(-50%); }

.apinkslider-helper .apinkslider-dots { width: 100%; text-align: center; }

.apinkslider-helper .apinkslider-dots .apinkslider-dot { position: relative; z-index: 2; display: inline-block; width: 24px; height: 24px; border-radius: 50%; margin: 5px 5px 0 5px; background-color: #eee; border: 1px solid #6f6f6f; cursor: pointer; transition: all 0.4s;}

.apinkslider-helper .apinkslider-dots .apinkslider-dot:hover { background-color: #333; }
